.modifyWrap {
  width: 100%;
  height: 1200px;
  background: snow;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 80px;
}

.modifyBg {
  width: 100%;
  height: 300px;
  background: url("../../img/bg11.jpg") no-repeat center;
  background-size: cover;
  color: rgb(241, 238, 238);
  font-size: 2.5rem;
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modifyInfoBundle {
  width: 75%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
