/*reset*/
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.wrap {
  width: 100%;
  margin: auto;
  // background: snow;
}

#gnb a:hover,
.lnb a:hover {
  color: green;
}

/*header*/
header {
  width: 100%;
  height: 80px;
  margin-top: 0.25px;
  background: snow;
  border-bottom: 1px solid rgba(210, 210, 210);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
}

.headerwrap {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 img {
  height: 55px;
}

#gnb {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gnb a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  // font-size: 1.5rem;
  // font-family: "Do Hyeon", sans-serif;
  // font-weight: 400;
  // font-style: normal;
}

.lnb {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lnb li {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  // font-size: 0.9rem;
  // font-family: "Do Hyeon", sans-serif;
  // font-weight: 400;
}

/* footer */
footer {
  width: 100%;
  height: 250px;
  background: snow;
  border-top: 1px solid rgba(210, 210, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
}

.footer_bg {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo2 {
  width: 40%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo2 img {
  width: 25%;
  filter: grayscale(100%);
}

.footerwrap {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  ul {
    margin-bottom: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footerwrap > div:nth-child(2) {
  margin-bottom: 10px;
}
.footerwrap > div:nth-child(3) {
  font-size: 0.9rem;
}
.footerwrap ul li:not(:first-child):not(:last-child) a {
  font-weight: normal;
}

/*header mobile*/
.mobile {
  display: none;
}

/* 반응형 */
@media (max-width: 932px) {
  /* header */

  .headerwrap {
    width: 100%;
  }

  h1 {
    display: none;
  }

  #gnb,
  .lnb {
    display: none;
  }

  .mobile {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-ham {
    width: 50px;
    height: 70%;
    background: snow;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-ham img {
    width: 40%;
  }

  .gnb-box {
    width: 25%;
    height: 700px;
    background: rgba(48, 47, 47, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: -300px;
    transition: all 1.5s ease; /*transition은 속성 값이 변하는 값에 대한 것이기 때문에 all이나 transform으로 주고 transition의 3번째 속성은 딜레이이므로 삭제할 것, display:none에서 flex로 변경되게 해뒀기 때문에 active 붙자마자 갑자기 생성됨(슬라이딩 되는 방식 적용이 불가능 하므로 display:none 삭제)*/
  }

  .gnb-box.active {
    transform: translateX(300px);
  }

  .gnb-m {
    height: 400px;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .gnb-m li a {
    color: rgb(232, 223, 223);
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.3rem;
    // font-size: 1.8rem;
    // font-weight: 500;
    // text-decoration: underline;
  }

  .logo-m {
    width: 120px;
    height: 55px;
    margin-left: 135px;
  }

  .lnb-m {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  // footer
  footer {
    width: 100%;
    height: 200px;
    padding: 5px 0;
  }

  .footer_bg {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }

  .logo2 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo2 img {
    width: 155px;
  }

  .footerwrap {
    width: 50%;
  }
}
