.modifyModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modifyModal.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.modifyReview-group,
.modifyQna-group {
  margin: 50px auto; /* 중앙 정렬 */
  width: 500px;
  background-color: snow;
  border-radius: 6px;
  overflow-y: auto;
  .modifyReview-area,
  .modifyQna-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}
.modifyReview-group {
  height: 700px;
}
.modifyQna-group {
  height: 750px;
}
.modifyModal.userView .modifyQna-group {
  max-height: 455px; /* 높이 조절 예시, 실제 값은 콘텐츠에 맞춰 조정 */
}

.modifyReview-header,
.modifyQna-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px;
  button {
    width: 25px;
    height: 25px;
    font-size: 25px;
    margin-right: 15px;
  }
  .modifyReview-title,
  .modifyQna-title {
    width: 100%;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
  }
}

.modifyReview-body,
.modifyQna-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  .modifyReview-wrap,
  .modifyQna-wrap {
    width: 90%;
    display: flex;
    flex-direction: column;
    color: #000;
    margin-bottom: 10px;
    align-items: flex-start;
    .modifyReview-info,
    .modifyQna-info {
      font-family: "NanumSquareRound";
      font-size: 18px;
      font-weight: bold;
      min-width: 150px;
      padding: 8px;
    }
    .modifyReview-content,
    .modifyQna-content {
      width: 95%;
      min-height: 40px;
      padding: 8px;
      font-size: 14px;
      border: 1px solid #b5b5b5;
    }
    .reviewer,
    .authorName {
      background-color: #efefef;
    }
    .reviewText,
    .question,
    .answer {
      height: 150px;
      background-color: #efefef;
    }
  }
}
.currentImg {
  width: 100%;
  height: 100%;
  min-height: 150px;
  .modifyReview-content {
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #b5b5b5;
  }
}
.newImg {
  width: 95%;
  height: 100%;
}
.imgContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px dashed #b5b5b5;
  background-color: #fff;
  cursor: pointer;
  input {
    display: none;
  }
  label {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 150px;
    justify-content: center;
    align-items: center;
  }
  img {
    width: auto;
    height: 80%;
  }
}

.modifyReview-footer,
.modifyQna-footer {
  position: relative;
  width: 95%;
  bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;
  button {
    width: 150px;
    height: 60px;
    padding: 8px 16px;
    margin: 4px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0%;
  }
  .modifyReview-modifyBtn,
  .modifyQna-modifyBtn {
    background-color: #8c8c8c;
    color: #fff;
  }
  .modifyReview-deleteBtn,
  .modifyQna-deleteBtn {
    background-color: #000;
    color: #fff;
  }
  .modifyReview-closeBtn,
  .modifyQna-closeBtn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #b5b5b5;
  }
}
